<!-- header.ejs
    Assignment 4: Shop (Mongo DB)

    Revision History 
        Yi Phyo Hong, 2020.04.12: Created
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Teko&display=swap" rel="stylesheet">
    <title>Computer Shop</title>
    <script src="/js/shop.js"></script>
</head>