<!-- nav.ejs
    Assignment 4: Shop (Mongo DB)

    Revision History 
        Yi Phyo Hong, 2020.04.12: Created
-->

<header>
    <p class="title">Computer Shop</p>
    <nav class="menu">
        <ul>
            <li>
                <a href="/">Order Form</a>
            </li>
            <li>
                <a href="/allorders">All Orders</a>
            </li>
        </ul>
     </nav>
</header>