<!-- shop.ejs
    Assignment 4: Shop (Mongo DB)

    Revision History 
        Yi Phyo Hong, 2020.04.12: Created
-->

<%- include('layouts/header') -%>
<body onload="onLoad();">
    <%- include('layouts/nav') -%>

    <main>
        <form onsubmit="return processForm();" action="" method="post" enctype="multipart/form-data">
            <label for="name">Name*</label>
            <input type="text" id="name" name="name">
            <label for="email">Email*</label>
            <input type="text" id="email" name="email" placeholder="email@address.com">
            <label for="phone">Phone*</label>
            <input type="text" id="phone" name="phone" placeholder="xxx-xxx-xxxx">
            <label for="address">Address*</label>
            <input type="text" id="address" name="address">
            <label for="city">city*</label>
            <input type="text" id="city" name="city">
            <label for="postCode">Post Code*</label>
            <input type="text" id="postCode" name="postCode" placeholder="X9X 9X9">
            <label for="province">Province*</label>
            <select name="province" id="province">
            </select>
            <label for="computer">Computer</label>
            <input type="text" id="computer" name="computer" placeholder="Enter a number">
            <label for="monitor">Monitor</label>
            <input type="text" id="monitor" name="monitor" placeholder="Enter a number">
            <label for="printer">Printer</label>
            <input type="text" id="printer" name="printer" placeholder="Enter a number">
            <label for="deliveryTime">Delivery Time</label>
            <select name="deliveryTime" id="deliveryTime">
            </select>
            <label for="myimage">Image:</label>
            <input type="file" name="myimage">
            <div class="clear"></div>
            <input type="submit" name="submit" value="Place Order">
            <p id="message">
                <%
                if(typeof(errors) != 'undefined'){
                    for(var error of errors){
                    %>
                        <%= error.msg %>
                        <br>
                    <%
                    }
                }
                %>
            </p>
            <div class="clear"></div>
        </form>
    </main>

    <footer>
        <p class="copyright clear">
            &copy; Computer Shop 2020
        </p>
    </footer>    
</body>
<%- include('layouts/footer'); -%>
